@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    margin: 0;
    padding: 0;
    background: #1c1c1b;
}

@font-face {
    font-family: 'reisregular';
    src: url('fonts/reis-regular-webfont.woff2') format('woff2'),
         url('fonts/reis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 {
 
    text-align: center;
    font-weight: 300;
    font-family: 'reisregular', Arial, sans-serif; 
    margin: 0;
    background: linear-gradient(45deg, #66cd00, #00eeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
    background-size: 400% 400%;
    -webkit-animation: brandingAnim 2s ease-out infinite;
    animation: brandingAnim 2s ease-out infinite;
    margin-top: 5vh;
}
.mainTitle {
    font-size: 17vw;
    font-family: 'reisregular', Arial, sans-serif; 
}
.handle {
    text-align: center;
    font-size: 1rem;
    color: #ffbe00;
    font-family: 'reisregular', Arial, sans-serif; 
    margin: 0;
    cursor: pointer;
}


.links {

    position: fixed;
    margin: 0;
    size : 2rem;
    width: 100vw;
    min-height: 2.5rem;
    text-align: center;
    bottom: 0;

}

.fa {
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(45deg, #00eeee, #66cd00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: brandingAnim 2s ease-out infinite;
    animation: brandingAnim 2s ease-out infinite;
    margin: 0.5rem;
}

.about {
 
    margin-left: 8vw;
    margin-right:8vw;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
}



@-webkit-keyframes brandingAnim {
    0% {
        background-position: 0% 33%
    }
    50% {
        background-position: 100% 68%
    }
    100% {
        background-position: 0% 33%
    }
}

@-moz-keyframes brandingAnim {
    0% {
        background-position: 0% 33%
    }
    50% {
        background-position: 100% 68%
    }
    100% {
        background-position: 0% 33%
    }
}

@keyframes brandingAnim {
    0% {
        background-position: 0% 33%
    }
    50% {
        background-position: 100% 68%
    }
    100% {
        background-position: 0% 33%
    }
}